/*------- BIG TABLETS to 1200px : smaller than 1140px  ---------*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        max-width: 100%;
        padding: 0 2%;
    }

    html {
        font-size: 18px;
    }

    .plan-details {
        padding: 1rem 0.9rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    h3 {
        font-size: 1.1rem;
    }

}



/*------- SMALL TABLETS to BIG TABLETS : from 768 to 1023px  ---------*/
@media only screen and (max-width: 1023px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        max-width: 100%;
        padding: 0 2%;
    }

    section {
        padding: 3rem 0;
    }

    html {
        font-size: 14px;
    }

    .long-copy {
        width: 80%;
        line-height: 1.2rem;
    }

    .plan-details {
        padding: 1rem 0.9rem;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    .step-box img {
        width: 11rem;
        height: 20%;
    }

    .step-box:last-child {
        margin-top: 5rem;
    }

    .download-btn img {
        height: 2.3rem;
        width: auto;

    }

    .steps:last-of-type {
        margin-bottom: 4rem;
    }


}



/*------- SMALL PHONES to SMALL TABLETS : from 481 to 767px  ---------*/
@media only screen and (max-width: 767px) {

    .hero-text-box {
        width: 100%;
        padding: 0 3%;
    }

    .row {
        max-width: 100%;
        padding: 0 3%;
    }

    section {
        padding: 2rem 0;
    }

    html {
        font-size: 15px;
    }

    .box {
        padding: 0.4rem 0.2rem;
    }


    .long-copy {
        width: 90%;

    }

    .col {
        width: 100%;
        margin: 1% 0 1% 0;
    }

    
    .main-nav {
        float: left;
        margin-top: 1rem;
        display: none;
    }

    .main-nav li {
        display: block;
        margin-left: 4rem;
        padding: 0.3rem;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        font-size: 1.1rem;
        padding: 1rem 0;
        border-bottom: 0;
    }

    .mobile-nav-icon {
        display: block;
        float: right;
    }

    .sticky .mobile-nav-icon ion-icon {
        font-size: 2rem;
        color: #555;
    }

    .sticky .logo-black {
        margin: 1rem 0;
    }

    

    .icon-big {
        margin: 0 auto 1rem auto;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1.3rem;
    }

    .step-box:first-child {
        text-align: center;
        padding-left: 2rem;
        margin-top: 1rem;
    }

    .step-box:last-child {
        text-align: left;
        padding-left: 2rem;
        margin-top: 2rem;
    }

    .step-box img {
        width: 8rem;
    }

    .steps:last-of-type {
        margin-bottom: 2rem;
    }

    .download-btn img {
        height: 2.5rem;
        width: auto;
    }

    .section-cities .box {
        padding: 1.5rem 10% 0 10%;
    }

    .section-cities .box h3 {
        margin-bottom: 0;
    }

    .contact-form {
        width: 80%;
        margin: 0 auto;
    }

    input[type=submit] {
        margin: 0 40% 0 40%;

    }

    footer li {
        margin: 0 0.3rem 0.6rem 0.3rem;
    }

    footer .col:first-of-type {
        width: 60%;
    }

    footer .col:last-of-type {
        width: 40%;
    }

}


/*------- SMALL PHONES : from 0 to 480px  ---------*/
@media only screen and (max-width: 480px) {}